@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@variant dark (&:where(.dark, .dark *));

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  @apply bg-white text-black dark:bg-gray-900 dark:text-white;
}

.Inter {
  font-family: "Inter", sans-serif;
}

/* Gradient Backgrounds */
.primary-text-bg-gradient {
  @apply bg-linear-to-r from-yellow-400 via-pink-400 to-red-400 bg-clip-text text-transparent;
}
/* Button Styles */
.primary-bg-gradient {
  @apply bg-linear-to-r from-purple-400 via-pink-400 to-red-400 hover:opacity-90 text-white transition-all duration-300 ease-in-out;
}
.ss {
  @apply bg-[#7ec0c0];
}

/* Theme Styles */
.theme {
  @apply bg-[#f8f8f8] dark:bg-[#0B0E14] ease-in-out duration-400 transition-colors;
}

.text-theme {
  @apply text-black dark:text-[#F0F6FC];
}
.theme-alt {
  @apply dark:bg-[#f8f8f8] bg-[#121212];
  @apply transition-all duration-200 cursor-pointer;

  @apply hover:opacity-90 dark:hover:opacity-90;

  @apply active:opacity-80 active:scale-[0.98];

  @apply focus:outline-none focus:ring-2 focus:ring-offset-2;
  @apply dark:focus:ring-[#f8f8f8] focus:ring-[#121212];

  @apply disabled:opacity-50 disabled:cursor-not-allowed disabled:pointer-events-none;
}

.text-theme-alt {
  @apply dark:text-black text-white;

  @apply group-hover:opacity-90;
}

.transitions {
  @apply transition-all duration-300 ease-in-out;
}

/* Removes the focus border specifically inside the drawer */
[role="dialog"] button:focus,
[role="dialog"] a:focus {
  outline: none !important;
  box-shadow: none !important;
}
