@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease-in-out;
  @apply bg-[#f0f0f0] text-black dark:bg-gray-700 dark:text-white;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.Inter {
  font-family: "Inter", sans-serif;
}

/* Gradient Backgrounds */
.primary-text-bg-gradient {
  @apply bg-linear-to-r from-blue-400 to-pink-400 bg-clip-text text-transparent;
}
/* Button Styles */
.primary-bg-gradient {
  @apply bg-linear-to-r from-blue-400 to-pink-400 hover:opacity-90 text-white transition-all duration-300 ease-in-out;
}

/* Theme Styles */
.theme {
  background-color: #f8f8f8;
  transition: all 0.4s ease-in-out;
}
.dark .theme {
  background-color: #1f2937;
}
.text-theme {
  color: black;
}
.dark .text-theme {
  color: #f0f6fc;
}

.theme-alt {
  @apply dark:bg-[#f8f8f8] bg-[#1F2937];
  @apply transition-all duration-200 cursor-pointer;

  @apply hover:opacity-90 dark:hover:opacity-90;

  @apply active:opacity-80 active:scale-[0.98];

  @apply focus:outline-none focus:ring-2 focus:ring-offset-2;
  @apply dark:focus:ring-[#f8f8f8] focus:ring-[#121212];

  @apply disabled:opacity-50 disabled:cursor-not-allowed disabled:pointer-events-none;
}

.text-theme-alt {
  @apply dark:text-black text-white;

  @apply group-hover:opacity-90;
}

.transitions {
  @apply transition-all duration-300 ease-in-out;
}

/* Removes the focus border specifically inside the drawer */
[role="dialog"] button:focus,
[role="dialog"] a:focus {
  outline: none !important;
  box-shadow: none !important;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

section {
  scroll-margin-top: 6rem; /* Adjust based on your navbar height */
}

/* Banner animation  */
@keyframes infinite_scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@layer utilities {
  .animate-infinite-scroll {
    animation: infinite_scroll 55s linear infinite;
    /* @media (max-width: 640px) {
      animation-duration: 4s;
    } */
  }
  /* .animate-infinite-scroll:hover {
    animation-play-state: paused;
  } */
}

.shadow-effect {
  @apply shadow-2xl dark:shadow-black hover:shadow-md;
}
